.sendMail {
  position: fixed;
  right: 30px;
  z-index: 999;
  bottom: 0px;
  border-radius: 5px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid whitesmoke;
  width: 600px;
  height: 600px;
  flex-direction: column;
  display: flex;
  background-color: white;
}

.minimize {
  width: 300px;
  height: 50px;
}

.sendMail_header {
  color: whitesmoke;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 13px;
  background-color: #404040;
}

.sendMail_close {
  color: whitesmoke;
  cursor: pointer;
}

.BN {
  position: absolute;
  right: 5px;
}

.my:hover{
  background-color: #737373 !important; 
  border-radius: 0%;
}

.sendMail > form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tox-tinymce{
  flex: 1;
}

.sendMail > form > input {
  border: none;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid whitesmoke;
  outline: none;
  font-size: 20px;
}

.sendMail_message {
  flex: 1;
}

.sendMail_options {
  padding: 8px;
  background-color: rgb(255, 255, 255);
}

.sendMail_send {
  font-weight: 13px;
  text-transform: capitalize !important;
}

.sendMail_error {
  color: red;
  text-align: right;
  background-color: white;
  padding: 2px;
}
