.emailList {
  flex: 1;
  position: relative;
}

.emailList_list {
  margin-top: 30px;
}

.emailList_settings {
  display: flex;
  position: fixed;
  margin-top: -60px;
  justify-content: space-between;
  z-index: 10;
  padding-right: 10px;
  padding-top: 10px;
  background-color: white;
  width: 100%;
}

.emailList_sections {
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
}
