.emailList {
  flex: 1;
}

.emailList_settings {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
  padding-right: 10px;
}

.emailList_sections {
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
}
